        @charset "UTF-8";
        body {
            background-color: rgb(190, 209, 214);
        }

       
        h1 {
            color: royalblue;
            text-shadow: none;
            display:inline-block
        }
        p { 
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rebeccapurple;
            text-align: justify;
            
         }
         mark {
            background-color: rgb(190, 209, 214);
            color: rebeccapurple;
            text-align: justify;
            text-decoration: underline;
         }
         h2{
            color: royalblue;
            text-align:left
         }
         img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
         }
         li {
            color: rebeccapurple;
         }