
@charset "UTF-8";

body {
    background-color: rgba(127, 197, 154, 0.856);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(64, 160, 77);
}
h1#principal {
    text-align: center;
    color: rgb(236, 240, 236);
    background-color: rgba(127, 197, 154, 0.856);
}
h2 {
    color: rgb(64, 100, 59);
}
.basico {
    color: rgb(64, 102, 53);
}
.intermediario {
    color: rgb(230, 227, 75);
}
.avancado {
    color: rgb(228, 68, 68);
}
.destaque {
    background-color: rgba(229, 230, 186, 0.856);
}